.todoApp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    min-height: 600px;
    align-items: center;
    margin: 120px auto;
    background: #ACBCFF;
}